---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

{% include base_path %}

<style>
.pubcard {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 0;
  border-bottom: 1px solid #ddd;
}
.pubthumb {
  width: 180px;
  height: 120px;
  background: #eee;
  border-radius: 6px;
  flex-shrink: 0;
}
.pubinfo {
  flex-grow: 1;
}
.pubtitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.pubcitation {
  margin: 6px 0;
  font-size: 14px;
  line-height: 1.4;
}
.pdflink {
  font-weight: bold;
  font-size: 14px;
}
</style>

<div class="publist">





<h1>Publications</h1>
<h2>Journals</h2>
<!-- Publication card -->
<!-- <div style="display: flex; margin-bottom: 30px;">
  <img src="/assets/pub1.png" style="width: 180px; margin-right: 15px; border-radius: 4px;">
  <div>
    <strong>Title</strong><br>
    A,B,C,D<br>
    <em>Conference ‘Year</em><br>
    <a href="paper1.pdf">PDF</a>
  </div>
</div> -->


<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/IJIL_2025_Thumb.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">Does Horizontal Learning in Career Technical Education with Making and Micromanufacturing Boost Students’ Self-Efficacy?</p>
    <p class="pubcitation">
      Qiu, S., <b> Okundaye, O. J. </b>, Zhao, J., Quek, F., Natarajarathinam, M., (2025).  
      International Journal of Innovation and Learning 2025 (In-press).
    </p>
    
  </div>
</div>

<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/EJEE_2022_Thumb.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">Making STEM real: the design of a making-production model for hands-on STEM learning</p>
    <p class="pubcitation">
      <b> Okundaye, O. </b>, Natarajarathinam, M., Qiu, S., Kuttolamadom, M. A., Chu, S., & Quek, F. (2022).  
      European Journal of Engineering Education.
    </p>
    <a class="pdflink" href="/files/EJEE_2022_OkundayeEtAl.pdf">PDF</a>
    
  </div>
</div>

<h2>Conference Papers</h2>

<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/TEI_2025_Thumb.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">3D Printed Kerf Structures</p>
    <p class="pubcitation">
      <b> Okundaye-Santos Jr, O. J.</b>, Poluri, K., Darnal, A., Muliana, A. H., & Kim, J. (2025).  
      TEI 2025.
    </p>
    <a class="pdflink" href="/files/TEI_2025_OkundayeEtAl-compressed.pdf">PDF</a>
    <a class="pdflink" href="https://drive.google.com/file/d/1x-TuCNuWikmYQ1CWULcbX-cNpXtCUR0S/view?usp=sharing">Video</a>
    <a class="pdflink" href="https://github.com/Awuzaso/TEI2025-3D-Printed-Kerf-Structures">Github</a>

  </div>
</div>

<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/ASEE_2022_Thumb.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">‘All Together Now’: Integrating Horizontal Skills in Career Technical Education Classes</p>
    <p class="pubcitation">
      Qiu, S., <b> Okundaye, O. </b>, Natarajarathinam, M., Chu, S. L., Kuttolamadom, M., Li, Q., & Quek, F. (2022).  
      ASEE 2022.
    </p>
    <a class="pdflink" href="/files/ASEE_2022_OkundayeEtAl.pdf">PDF</a>
  </div>
</div>




<div class="pubcard">
  <div class="pubthumb">
      <img src="/images/ASEE_2021_Thumb.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">How Deep is Your Knowledge? Breadth & Depth of CAD/CAM in M3 CTE Classes</p>
    <p class="pubcitation">
      <b> Okundaye, O. J. </b>, Natarajarathinam, M., Kuttolamadom, M., Quek, F., & Chu, S. L. (2021).  
      ASEE 2021.
    </p>
    <a class="pdflink" href="/files/ASEE_2021_OkundayeEtAl.pdf">PDF</a>
  </div>
</div>

<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/ASEE_2020_Thumb.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">Design and Development of a Horizontal CTE Curriculum</p>
    <p class="pubcitation">
      Thakare, K., <b> Okundaye, O. J. </b>, Li, Q., Natarajarathinam, M., Chu, S. L., Kuttolamadom, M., & Quek, F. (2021).  
      ASEE 2021.
    </p>
    <a class="pdflink" href="/files/ASEE_2021_ThakareEtAl.pdf">PDF</a>
  </div>
</div>

<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/ASEE_2020_Thumb_2.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">Making in The Colonias: Motivating STEM Participation</p>
    <p class="pubcitation">
      <b> Okundaye, O. J. </b>, Natarajarathinam, M., Kuttolamadom, M., Quek, F., & Berman, A. N. (2020).  
      ASEE 2020.
    </p>
    <a class="pdflink" href="/files/ASEE_2020_OkundayeEtAl.pdf">PDF</a>
  </div>
</div>

<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/NORDICHI_2021_Thumb.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">Telepresence robotics for hands-on distance instruction</p>
    <p class="pubcitation">
      <b>Okundaye, O.</b>, Chu, S., Quek, F., Berman, A., Hordemann, G., Powell, L., & Yang, L. (2020).  
      NordiCHI 2020.
    </p>
    <a class="pdflink" href="/files/Nordichi_2020_OkundayeEtAl.pdf">PDF</a>
    
  </div>
</div>

<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/NORDICHI_2021_2.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">“Anyone Can Print”: Supporting Collaborations with 3D Printing Services to Empower Broader Participation in Personal Fabrication</p>
    <p class="pubcitation">
      Berman, A., Quek, F., Woodward, R., <b> Okundaye, O.</b>, & Kim, J. (2020).  
      Proceedings of NordiCHI 2020.
    </p>
    <a class="pdflink" href="/files/Nordichi_2020_BerEtAl.pdf">PDF</a>
  </div>
</div>

<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/ASEE_2019_Thumb.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">Developing communities of practice through peer mentorship in making through micro-manufacturing model</p>
    <p class="pubcitation">
      <b> Okundaye, O. J. </b>, Natarajarathinam, M., Kuttolamadom, M., Chu, S. L., Deuermeyer, E., & Berman, A. N. (2019).  
      ASEE Annual Conference.
    </p>
    <a class="pdflink" href="/files/ASEE_2019_OkundayeEtAl.pdf">PDF</a>
  </div>
</div>


<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/FabLearn_2019_Thumb.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">Proximal and Distal Mentors: Sustaining Making-Expertise in Rural Schools</p>
    <p class="pubcitation">
      Berman, A., Chu, S. L., Quek, F., <b> Okundaye, O. </b>, Yang, L., Deuermeyer, E., ... & Doss, J. (2019).  
      FabLearn 2019.
    </p>  
    <a class="pdflink" href="/files/FabLearn_2019_BermanEtAl.pdf">PDF</a>
  </div>
</div>



<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">From making to micro-manufacture: Catalyzing STEM participation in rural high schools</p>
    <p class="pubcitation">
      <b>Okundaye, O.</b>, Chu, S., Quek, F., Berman, A., Natarajarathinam, M., & Kuttolamadom, M. (2018).  
      Creativity and Making in Education Conference.
    </p>
    <a class="pdflink" href="/files/FabLearnEurope_2018_OkundayeEtAl.pdf">PDF</a>
  </div>
</div>

<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/ASEE_2018_Thumb.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">Motivating STEM Participation through a 'Making as Micro-manufacture (M3)' Model</p>
    <p class="pubcitation">
      <b>Okundaye, O. J.</b>, Kuttolamadom, M., Natarajarathinam, M., Chu, S. L., & Quek, F. (2018).  
      ASEE Annual Conference.
    </p>
    <a class="pdflink" href="/files/ASEE_2018_OkundayeEtAl.pdf">PDF</a>
  </div>
</div>

<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/ASEE_2020_Thumb.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">Everybody needs somebody to teach: Embodiment, telecommunication, and telepresence in STEM learning</p>
    <p class="pubcitation">
      Hordemann, G., Natarajarathinam, M., Chu, S. L., Kuttolamadom, M., Quek, F., & <b>Okundaye, O. J.</b> (2020).  
      ASEE Virtual Annual Conference.
    </p>
    <a class="pdflink" href="/files/ASEE_2020_HordemannEtAl.pdf">PDF</a>
  </div>
</div>

<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/IDC_2016_Thumb.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">Making as the new colored pencil: translating elementary curricula into maker activities</p>
    <p class="pubcitation">
      Angello, G., Chu, S. L., <b> Okundaye, O. </b>, Zarei, N., & Quek, F. (2016).  
      Interaction Design and Children (IDC).
    </p>
    <a class="pdflink" href="/files/IDC_2016_Angello_Et_Al.pdf">PDF</a>
  </div>
</div>

<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/IDSC_Thumb.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">Enabling instrumental interaction through electronics making: Effects on children's storytelling</p>
    <p class="pubcitation">
      Chu, S. L., Quek, F., Saenz, M., Bhangaonkar, S., & <b> Okundaye, O. </b> (2015).  
      Interactive Digital Storytelling Conference.
    </p>
  </div>
</div>






<h2>Conference Posters</h2>

<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/IDC_2019_Thumb.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">Broadening participation for remote communities: Situated distance telepresence</p>
    <p class="pubcitation">
      <b> Okundaye, O.</b>, Quek, F., & Chu, S. (2019).  
      IDC 2019.
    </p>
    <a class="pdflink" href="/files/IDC_2019_OkundayeEtAl.pdf">PDF</a>
  </div>
</div>

<div class="pubcard">
  <div class="pubthumb">
    <img src="/images/CHI_2017_Thumb.png">
  </div>
  <div class="pubinfo">
    <p class="pubtitle">Facilitating context switching through tangible artifacts</p>
    <p class="pubcitation">
      <b> Okundaye, O. </b>, Quek, F., Sargunam, S. P., Suhail, M., & Das, R. (2017).  
      CHI 2017 Extended Abstracts.
    </p>
    <a class="pdflink" href="/files/CHI_2017_OkundayeEtAl.pdf">PDF</a>
  </div>
</div>













</div> <!-- end publist -->








<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



